<h1>Edithing User</h1>

<div>
  <%= form_with model: @user, local: true do |form| %>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
    <% end %>
    </ul>
    <div>
      Name<br>
      <%= form.text_field :name %>
    </div>
    <div>
      Image<br>
      <%= form.file_field  :image %>
    </div>
    <div>
      Email<br>
      <%= form.text_field :email %>
    </div>
    <div>
      <%= form.submit "Create Update" %>
    </div>
  <% end %>
  <p>
    <%= link_to("Show","/users/#{@user.id}") %> | 
    <%= link_to("Back","/users/new") %>
  </p>

</div>
