<div>
  <div class = "show_name">  
    <b>Name:</b> <%= @user.name %>
  </div>
  <div class = "show_email">
    <br><b>Email:</b>   <%= @user.email %>
  </div>
  <div class = "show_image_wrapper">
    <div class = "show_image_title">
      <br><b>Image:</b>
    </div>   
      <% if @user.image.attached? %>
        <br><%= image_tag @user.image, class: "user_image" %>
      <% else %>
        <br><%= image_tag "hitogata.jpg", class: "user_image" %>
      <% end %>
  </div>
  <ul>
    <% @microposts.each do |micropost| %>
      <li><%= micropost.content %></li>
    <% end %>
  <ul>
</div>
<br><div>
  <p>
    <% if current_user.id == @user.id %>
      <%= link_to("Edit","/users/#{@user.id}/edit") %> |
    <% end %>
      <%= link_to("Back","/users") %>
  </p>
</div>