<div>
  <div class = "show_name">  
    <b>Name:</b> <%= @user.name %>
  </div>
  <div class = "show_email">
    <b>Email:</b>   <%= @user.email %>
  </div>
  <div class = "show_image_wrapper">
    <div class = "show_image_title"><b>Image:</b></div>   
    <% if @user.image.attached? %>
      <%= image_tag @user.image, class:"user_image" %>
    <% end %>
  </div>
  <ul>
    <% @microposts.each do |micropost| %>
      <li><%= micropost.content %></li>
    <% end %>
  <ul>
</div>
<div>
  <p>
    <%= link_to("Edit","/users/#{@user.id}/edit") %> | 
    <%= link_to("Back","/users/new") %>
  </p>
</div>