<h1>Edithing Micropost</h1>

<div>
  <%= form_tag("/microposts/#{@micropost.id}/update") do %>
    <ul>
      <% @micropost.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
    <p>
      <b>Content<b><br>
      <textarea name="content" value="<%= @micropost.content %>"></textarea>
    </p>
    <p>
      <b>User:</b>
      <%= current_user.name %>
      <input type="hidden" name="user_id" value="<%= current_user.id %>">
    </p>
    <p><input type="submit" value="Update content"></p>
  <% end %>
  <p>
    <%= link_to("Show","/microposts/#{@micropost.id}") %> | 
    <%= link_to("Back","/microposts") %>
  </p>

</div>
