<h1>Listing microposts</h1>

<table>
  <tr>
    <th> <b>Content</b></th>
    <th> <b>User</b></th>
  <tr>
  <% @micropost.each do |micropost| %>
    <tr>
      <td class="td_microposts"><%= micropost.content %></td>
      <td class="td_microposts"><%= micropost.user.name %></td>

        <td class="td_crud"><%= link_to "Show","/microposts/#{micropost.id}", class:"btn btn-primary" %></td>
      <% if current_user.id == micropost.user_id %>
        <td class="td_crud"><%= link_to "Edit","/microposts/#{micropost.id}/edit", class:"btn btn-primary" %></td>
        <td class="td_crud"><%= link_to "Destroy","/microposts/#{micropost.id}/destroy", method: :post, class:"btn btn-primary" %></td>
      <% end %>
    </tr>
  <% end %>
</table>
