<h1>New micropost</h1>

<div>
  <div>
    <%= form_tag("/microposts/create") do %>
      <ul>
        <% @micropost.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>

      <p>
        <b>Content</b><br>
        <textarea name = "content"></textarea>
      </p>

      <p>
        <b>User:</b>
        <!--<select name="user_id" >-->
          <!--<% @users.each do |user|%>-->
            <!--<option><%= user.id %></option>-->
          <!--<% end %>-->
        <!--</select>-->
        <%= current_user.name %>
        <input type="hidden" name="user_id" value="<%= current_user.id %>">
      </p>
      <p><input type="submit" value="Create Micropost"></p>
    <% end %>
  </div>

  <p><%= link_to "Back","/microposts", class:"btn btn-primary" %></p>
</div>