<!DOCTYPE html>
<html>
  <head>
    <title>ToyApp2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <ul class="header_menus clear">
        <% if current_user %>
          <li class="header_logo">
            <%= link_to("現在ログイン中のユーザー：#{current_user.name}","/users/#{current_user.id}") %>
          </li>
          <li class="header_logo">
            <%= link_to("新規投稿","/microposts/new")%>
          </li>
          <li class="header_logo">
            <%= link_to("ユーザー一覧","/users")%>
          </li>
          <li class="header_logo">
            <%= link_to("投稿一覧","/microposts")%>
          </li>
          <li class="header_logo">
            <%= link_to("ログアウト","/users/sign_out",method: :delete)%>
          </li>
        <% else %>
          <li class="header_logo">
            <%= link_to("新規登録","/users/new")%>
          </li>
          <li class="header_logo">
            <%= link_to("ログイン","/users/sign_in")%>
          </li>
          <li class="header_logo">
            <%= link_to("トップページ","/")%>
          </li>
        <% end %>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
